{% extends "base_site.html" %}

{% block submissions %}

<!--CodeMirror-->
	<link rel="stylesheet" href="{{ STATIC_URL }}CodeMirror-2.3/lib/codemirror.css">
<!-- JQuery -->
<link href="{{ STATIC_URL }}jQueryCore/css/ui-lightness/jquery-ui-1.8.21.custom.css"rel="stylesheet" />
<!-- Bootstrap -->
<link href ="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" />
<link href ="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet" />	
<!-- Custom -->
<link href ="{{ STATIC_URL }}css/submissions.css" rel="stylesheet" />

<link href ="{{ STATIC_URL }}css/GameAndGrade_Base.css" rel="stylesheet" />
<link href ="{{ STATIC_URL }}css/bootstrap-customise.css" rel="stylesheet" />	

<div id="contentContainer">
	
	<!-- <div id="navBar"> -->
		<div id="subTitle">{{ subs.userID }} - {{ subs.task.title }} ({{ subs.uploadTime }})</div>
		<ul class="pager">
			<li><a href="/tasks/{{ subs.task.id }}/{{ firstSub.id }}/">First</a></li>
			<li><a href="/tasks/{{ subs.task.id }}/{{ previousSub.id }}/">Previous</a></li>
			<li><a href="/tasks/{{ subs.task.id }}/{{ nextSub.id }}/">Next</a></li>
			<li><a href="/tasks/{{ subs.task.id }}/{{ latestSub.id }}/">Latest</a></li>
		</ul>
	<!-- </div> -->

	<div class="row-fluid fillheight">
		<div class="span6 fillheight">
			<textarea id="codeForm" name="code">{{ currSub }}</textarea>
		</div>
		<div class="span6 fillheight">
			{% autoescape off %}
				<form action="">
				{% for entry in subUnitTest %}
					<i name="test" {% ifequal entry.4 "ok" %} <i class="icon-ok"></i> {% else %} <i class="icon-remove"></i>  {% endifequal %} {{ entry.0 }} {{entry.3}}
					</li></br>
				{% endfor %}
				</form>
			{% endautoescape %}
		</div>
	</div>
	
</div>

	<!-- Javascript placed at end to load quickly  -->
	<!--CodeMirror-->
	<script src="{{ STATIC_URL }}CodeMirror-2.3/lib/codemirror.js"></script>
	<script src="{{ STATIC_URL }}CodeMirror-2.3/mode/python/python.js"></script>
	<!--CodeMirror Add-ons-->
	<script src="{{ STATIC_URL }}CodeMirror-2.3/lib/util/searchcursor.js"></script> <!--Necessary for match-highlighting-->
	<script src="{{ STATIC_URL }}CodeMirror-2.3/lib/util/match-highlighter.js"></script>
	<!--jQuery-->
	<script src="{{ STATIC_URL }}jQueryCore/js/jquery-1.7.2.min.js"></script>
	<!--Custom Javascript -->
	<script type="text/javascript" src="{{ STATIC_URL }}Javascript/Base.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}Javascript/Base_SubmissionCode.js"></script>

{% endblock %}
