{% extends 'GameAndGrade_Base.html' %}

{% block content %}
<div class="tasksContainer">
	<div class="tasksContainerHeader toggleOpen ">
		Open Tasks
	</div>
	<div class="taskFieldContainer">
		{% for openTask in openTasks %}
			<div class="taskField">
				<div class="taskHeader">
					<div class="taskTitle">
						{{ openTask.title }}
					</div>
					<!-- <div class="taskStartEndContainer">
						<div class="taskStartEndField">
							<div class="taskStartEndLabel">
								Starts:
							</div>
							<div class="taskStartEndTime">
								{{ openTask.openTime }}
							</div>
						</div>
						<div class="taskStartEndField">
							<div class="taskStartEndLabel">
								Ends:
							</div>
							<div class="taskStartEndTime">
								{{ openTask.closeTime }}
							</div>
						</div>
					</div> -->
					<div class="taskDescrip">
						{{ openTask.descrip }}
					</div>
					<div class="taskRewardInfo">
						{{ openTask.xpVal }} XP
					</div>
				</div>
				
				{% with 1 as test %}
					{% include "GameAndGrade_Base_StudentTasks_Submissions.html" with taskID=openTask.id %}
				{% endwith %}
			</div>
		{% empty %}
			<div class="noTask">No tasks currently available.</div>
		{% endfor %}
	</div>
</div>

<div class="tasksContainer">
	<div class="tasksContainerHeader closedHighlight">
		Closed Tasks
	</div>
		<div class="taskFieldContainer">
			{% for closedTask in closedTasks %}

			<div class="taskField">
				<div class="taskHeader closedHighlight">
					<div class="taskTitle">
						{{ closedTask.title }}
					</div>
					<div class="taskStartEndContainer">
						<div class="taskStartEndField">
							<div class="taskStartEndLabel">
								Starts:
							</div>
							<div class="taskStartEndTime">
								{{ closedTask.openTime }}
							</div>
						</div>
						<div class="taskStartEndField">
							<div class="taskStartEndLabel">
								Ends:
							</div>
							<div class="taskStartEndTime">
								{{ closedTask.closeTime }}
							</div>
						</div>
					</div>
					<div class="taskDescrip">
						{{ closedTask.descrip }} 
					</div>
					<div class="taskRewardInfo">
						{{ closedTask.xpVal }} XP
					</div>
				</div>
				
				{% with 0 as test %}
					{% include "GameAndGrade_Base_StudentTasks_Submissions.html" %}
				{% endwith %}
			</div>
			{% empty %}
				<div class="noTask">No tasks currently available.</div>
			{% endfor %}
	</div>
</div>

{% endblock %}
