<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	
	<head>
		<script src="{{ STATIC_URL }}jQueryCore/css/ui-lightness/jquery-ui-1.8.21.custom.css"></script>
		<script src="{{ STATIC_URL }}jQueryCore/js/jquery-1.7.2.min.js"></script>
		<script src="{{ STATIC_URL }}jQueryCore/js/jquery-ui-1.8.21.custom.min.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Game and Grade</title>
		<link href ="{{ STATIC_URL }}css/GameAndGrade_Base.css" rel="stylesheet" type="text/css"  />
		<script src="Javascript/less-1.3.0.min.js" ></script>
<!-- 		<script type="text/javascript" src="{{ STATIC_URL }}Javascript/ChangeText.js"></script> -->

		<script type="text/javascript" src="{{ STATIC_URL }}Javascript/Base.js"></script>
		
	
	<body>
		
		<div id="headerBackground">
			<div id="headerContainer">
			<!--This will contain the logo and login info -->
				<div id="headerLogo">
					Game and Grade
				</div>
			
				<div id="accountContainer">
					<div id="accountInfo">
					{% if user.is_authenticated %}
						<p> Welcome, {{ user.username }}! </p>
					{% endif %}
					</div>
					<ul id="accountOptionsList">
						<li><a href="_blank">Help</a></li>
						<li><a href="_blank">Settings</a></li>
						<li>
							{% if user.is_authenticated %}
							<a href='/logout/'>Logout</a>
							{% else %}
							<a href="/login/?next={{request.path}}">Login</a>
							{% endif %}
						</li>
					</ul>
					<div id="searchBar">
						<form id="search">
							<input type="text"  name="searchTerm" placeholder="Search" />
						</form>
					</div>
				</div>
				
			</div>
		</div>
		<div id="contentContainer">
			{% block content %}{% endblock %}
		</div> 
	</body>
</html>