{% extends "registration/auth_form.html" %}

{% block title %} Setting New password {% endblock %}

{% block content %}
    {% if validlink %}
    	{% if form.errors%}
    		<div class="alert alert-error">
    			<p>Passwords do not match.</p>
    		</div>
    	{% endif %}
        <p style="margin-bottom: 9px;">Please enter your new password twice so we can verify you typed it in correctly.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <div>
				<input id="id_new_password1" name="new_password1" type="password" placeholder="New password">
				<input id="id_new_password2" name="new_password2" type="password" placeholder="Confirm password">
			</div>
			<input type="submit" value="Submit" />
        </form>
    {% else %}
    	 <div class="alert alert-error">
	        <h4>Password reset unsuccessful</h4>
	        <p>The password reset link was invalid,
	        possibly because it has already been used.
	        <a href="/password_reset">Please request a new password reset.</a></p>
        </div>
    {% endif %}
{% endblock %}