{% extends "registration/auth_form.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}

<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
    {% if form.errors %}
    <div class="alert alert-error">
    	{{ form.email.errors }}
    </div>
    {% endif %}
    <p>
		<label for="id_email">E-mail address:</label> 
		<input autofocus="autofocus" class="id_email" name="email" type="text">
		<input type="submit" value="Submit" />
    </p>
</form>
{% endblock %}

